<!doctype html>
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<meta name="viewport" content="width=device-width, user-scalable=false;">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/static/css/add.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<script src="/static/js/alertify.js"></script>
	<link rel="stylesheet" href="/static/css/alertify.css">
</head>
<body>
	<h1>Boombox</h1>
	<div id="buttons">
		<input id="query" value="" type="text">
		<button id="search" onclick="searchSpotify()">Search</button>
		<div class="clr"></div>
	</div>
	<div id="search-container">
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="/static/js/search.js"></script>
	<script>
	(function() {

		var socket = io.connect('http://' + document.domain + ':' + location.port);

		$(document).on('click', '.add-video', function(){
			var songID = $(this).data("id");
			socket.emit('addToQueue', songID);
			alertify.alert("Sangen blev tilføjet");
		});
	})();
	</script>
</body>
</html>
